In [35]:
import numpy as np
import pandas as pd
import torch
torch.set_printoptions(edgeitems=2, threshold=50, linewidth=75)

Data source: https://www.kaggle.com/datasets/albertovidalrod/electricity-consumption-uk-20092022?select=historic_demand_year_2024.csv

In [36]:
electricity_consumption_df = pd.read_csv("../data/p1ch4/electricity_consumption_uk_2009-2024/historic_demand_2009_2024_noNaN.csv") # index_col = 0 so that unnamed index column is not loaded
electricity_consumption_df.head(50)

,settlement_date,settlement_period,period_hour,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,pump_storage_pumping,ifa_flow,ifa2_flow,britned_flow,moyle_flow,east_west_flow,nemo_flow,is_holiday
0,2009-01-01 00:00:00,1,0:00:00,37910,38704,33939,54,1403,0,0,0,33,2002,0,0,-161,0,0,1
1,2009-01-01 00:30:00,2,0:30:00,38047,38964,34072,53,1403,0,0,0,157,2002,0,0,-160,0,0,1
2,2009-01-01 01:00:00,3,1:00:00,37380,38651,33615,53,1403,0,0,0,511,2002,0,0,-160,0,0,1
3,2009-01-01 01:30:00,4,1:30:00,36426,37775,32526,50,1403,0,0,0,589,1772,0,0,-160,0,0,1
4,2009-01-01 02:00:00,5,2:00:00,35687,37298,31877,50,1403,0,0,0,851,1753,0,0,-160,0,0,1
5,2009-01-01 02:30:00,6,2:30:00,35408,37135,31604,43,1403,0,0,0,967,1754,0,0,-160,0,0,1
6,2009-01-01 03:00:00,7,3:00:00,34322,36844,30486,43,1403,0,0,0,1762,1754,0,0,-160,0,0,1
7,2009-01-01 03:30:00,8,3:30:00,33076,35678,29390,56,1403,0,0,0,1842,1755,0,0,-160,0,0,1
8,2009-01-01 04:00:00,9,4:00:00,31970,34635,28452,56,1403,0,0,0,1905,1755,0,0,-160,0,0,1
9,2009-01-01 04:30:00,10,4:30:00,31270,33934,27842,56,1403,0,0,0,1904,1754,0,0,-160,0,0,1
10,2009-01-01 05:00:00,11,5:00:00,30726,33378,27395,56,1403,0,0,0,1892,1754,0,0,-160,0,0,1
11,2009-01-01 05:30:00,12,5:30:00,30320,32915,27021,57,1403,0,0,0,1867,1754,0,0,-128,0,0,1
12,2009-01-01 06:00:00,13,6:00:00,30429,32875,27128,57,1403,0,0,0,1846,1754,0,0,38,0,0,1
13,2009-01-01 06:30:00,14,6:30:00,30287,32720,27005,73,1403,0,0,0,1833,1753,0,0,18,0,0,1
14,2009-01-01 07:00:00,15,7:00:00,29650,31900,26478,73,1403,0,0,0,1650,1690,0,0,16,0,0,1
15,2009-01-01 07:30:00,16,7:30:00,28841,31055,25834,75,1403,0,0,0,1614,1689,0,0,16,0,0,1
16,2009-01-01 08:00:00,17,8:00:00,29007,31094,26030,75,1403,0,0,0,1487,1689,0,0,15,0,0,1
17,2009-01-01 08:30:00,18,8:30:00,29787,31440,26861,63,1403,0,0,0,1037,1690,0,0,-16,0,0,1
18,2009-01-01 09:00:00,19,9:00:00,31362,32079,28330,63,1403,0,0,0,56,1689,0,0,-61,0,0,1
19,2009-01-01 09:30:00,20,9:30:00,33257,33926,30081,66,1403,0,0,0,4,1689,0,0,-65,0,0,1
20,2009-01-01 10:00:00,21,10:00:00,34932,35602,31552,66,1403,0,0,0,5,1689,0,0,-65,0,0,1
21,2009-01-01 10:30:00,22,10:30:00,36579,37312,33009,63,1403,0,0,0,4,1690,0,0,-129,0,0,1
22,2009-01-01 11:00:00,23,11:00:00,37967,38751,34275,63,1403,0,0,0,4,1691,0,0,-180,0,0,1
23,2009-01-01 11:30:00,24,11:30:00,39235,40013,35376,61,1403,0,0,0,8,1691,0,0,-170,0,0,1
24,2009-01-01 12:00:00,25,12:00:00,40204,41058,36211,61,1403,0,0,0,8,1691,0,0,-246,0,0,1
25,2009-01-01 12:30:00,26,12:30:00,40672,41457,36617,59,1403,0,0,0,8,1691,0,0,-177,0,0,1
26,2009-01-01 13:00:00,27,13:00:00,40806,41479,36743,59,1403,0,0,0,8,1691,0,0,-65,0,0,1
27,2009-01-01 13:30:00,28,13:30:00,40781,41450,36689,39,1403,0,0,0,4,1690,0,0,-65,0,0,1
28,2009-01-01 14:00:00,29,14:00:00,40758,41427,36823,39,1403,0,0,0,4,1691,0,0,-65,0,0,1
29,2009-01-01 14:30:00,30,14:30:00,40524,41189,36628,35,1403,0,0,0,3,1691,0,0,-62,0,0,1
30,2009-01-01 15:00:00,31,15:00:00,40796,41417,36821,35,1403,0,0,0,1,1753,0,0,-20,0,0,1
31,2009-01-01 15:30:00,32,15:30:00,41703,42332,37662,49,1403,0,0,0,4,1753,0,0,-25,0,0,1
32,2009-01-01 16:00:00,33,16:00:00,43527,44133,39276,49,1403,0,0,0,6,1754,0,0,15,0,0,1
33,2009-01-01 16:30:00,34,16:30:00,45488,46096,41089,72,1403,0,0,0,8,1754,0,0,16,0,0,1
34,2009-01-01 17:00:00,35,17:00:00,46028,46634,41651,72,1403,0,0,0,6,1754,0,0,15,0,0,1
35,2009-01-01 17:30:00,36,17:30:00,45876,46515,41574,77,1403,0,0,0,8,1754,0,0,-31,0,0,1
36,2009-01-01 18:00:00,37,18:00:00,45195,45865,41004,77,1403,0,0,0,9,1754,0,0,-61,0,0,1
37,2009-01-01 18:30:00,38,18:30:00,44289,44965,40175,93,1403,0,0,0,11,1754,0,0,-65,0,0,1
38,2009-01-01 19:00:00,39,19:00:00,43784,44579,39744,93,1403,0,0,0,6,1751,0,0,-189,0,0,1
39,2009-01-01 19:30:00,40,19:30:00,42583,43425,38602,100,1403,0,0,0,8,1752,0,0,-234,0,0,1
40,2009-01-01 20:00:00,41,20:00:00,42181,43000,38089,100,1403,0,0,0,7,1752,0,0,-212,0,0,1
41,2009-01-01 20:30:00,42,20:30:00,40746,41596,36856,107,1403,0,0,0,11,1752,0,0,-239,0,0,1
42,2009-01-01 21:00:00,43,21:00:00,39961,40813,36029,107,1403,0,0,0,11,1751,0,0,-241,0,0,1
43,2009-01-01 21:30:00,44,21:30:00,38333,39182,34546,89,1403,0,0,0,8,1752,0,0,-241,0,0,1
44,2009-01-01 22:00:00,45,22:00:00,36951,37797,33218,89,1403,0,0,0,5,1751,0,0,-241,0,0,1
45,2009-01-01 22:30:00,46,22:30:00,35987,36781,32163,82,1403,0,0,0,13,1345,0,0,-181,0,0,1
46,2009-01-01 23:00:00,47,23:00:00,34769,36116,31016,82,1403,0,0,0,693,806,0,0,-54,0,0,1
47,2009-01-01 23:30:00,48,23:30:00,33504,35379,29927,62,1403,0,0,0,1235,916,0,0,-40,0,0,1
48,2009-01-02 00:00:00,1,0:00:00,34221,35837,30659,62,1403,0,0,0,976,916,0,0,-40,0,0,0
49,2009-01-02 00:30:00,2,0:30:00,34029,36024,30506,82,1403,0,0,0,1226,904,0,0,-169,0,0,0

In [37]:
electricity_consumption_df.shape

(268432, 19)

In [38]:
from datetime import datetime

electricity_consumption_df["settlement_year_mon_day"] = electricity_consumption_df["settlement_date"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').date())
electricity_consumption_df.head()

,settlement_date,settlement_period,period_hour,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,pump_storage_pumping,ifa_flow,ifa2_flow,britned_flow,moyle_flow,east_west_flow,nemo_flow,is_holiday,settlement_year_mon_day
0,2009-01-01 00:00:00,1,0:00:00,37910,38704,33939,54,1403,0,0,0,33,2002,0,0,-161,0,0,1,2009-01-01
1,2009-01-01 00:30:00,2,0:30:00,38047,38964,34072,53,1403,0,0,0,157,2002,0,0,-160,0,0,1,2009-01-01
2,2009-01-01 01:00:00,3,1:00:00,37380,38651,33615,53,1403,0,0,0,511,2002,0,0,-160,0,0,1,2009-01-01
3,2009-01-01 01:30:00,4,1:30:00,36426,37775,32526,50,1403,0,0,0,589,1772,0,0,-160,0,0,1,2009-01-01
4,2009-01-01 02:00:00,5,2:00:00,35687,37298,31877,50,1403,0,0,0,851,1753,0,0,-160,0,0,1,2009-01-01

In [39]:
electricity_consumption_groups = electricity_consumption_df.groupby("settlement_year_mon_day")
electricity_consumption_groups

Only keep the groups (dates) that has all 48 half hour sessions.

In [52]:
print(f"Initial number of groups: {len(electricity_consumption_groups)}")
electricity_consumption_valid_groups = [group[1] for group in electricity_consumption_groups if group[1].shape[0] == 48]
print(f"Valid number of groups: {len(electricity_consumption_valid_groups)}")

Initial number of groups: 5593
Valid number of groups: 5577

Now combine all valid groups together again.

In [53]:
electricity_consumption_df = pd.concat(electricity_consumption_valid_groups, axis=0)
electricity_consumption_df.head()

,settlement_date,settlement_period,period_hour,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,pump_storage_pumping,ifa_flow,ifa2_flow,britned_flow,moyle_flow,east_west_flow,nemo_flow,is_holiday,settlement_year_mon_day
0,2009-01-01 00:00:00,1,0:00:00,37910,38704,33939,54,1403,0,0,0,33,2002,0,0,-161,0,0,1,2009-01-01
1,2009-01-01 00:30:00,2,0:30:00,38047,38964,34072,53,1403,0,0,0,157,2002,0,0,-160,0,0,1,2009-01-01
2,2009-01-01 01:00:00,3,1:00:00,37380,38651,33615,53,1403,0,0,0,511,2002,0,0,-160,0,0,1,2009-01-01
3,2009-01-01 01:30:00,4,1:30:00,36426,37775,32526,50,1403,0,0,0,589,1772,0,0,-160,0,0,1,2009-01-01
4,2009-01-01 02:00:00,5,2:00:00,35687,37298,31877,50,1403,0,0,0,851,1753,0,0,-160,0,0,1,2009-01-01

In [57]:
data_cols = electricity_consumption_df.columns[3:19]
electricity_consumption_data = electricity_consumption_df[data_cols]

In [58]:
electricity_consumption = torch.from_numpy(electricity_consumption_data.values)
electricity_consumption

tensor([[37910, 38704,  ...,     0,     1],
        [38047, 38964,  ...,     0,     1],
        ...,
        [23386, 25510,  ...,   742,     0],
        [22093, 24323,  ...,   733,     0]])

In [59]:
electricity_consumption.shape, electricity_consumption.stride()

(torch.Size([267696, 16]), (1, 267696))

In [60]:
daily_electricity_consumption = electricity_consumption.view(-1, 48, electricity_consumption.shape[1])
daily_electricity_consumption.shape, daily_electricity_consumption.stride()

(torch.Size([5577, 48, 16]), (48, 1, 267696))

In [61]:
daily_electricity_consumption = daily_electricity_consumption.transpose(1, 2)
daily_electricity_consumption.shape, daily_electricity_consumption.stride()

(torch.Size([5577, 16, 48]), (48, 267696, 1))

In [64]:
electricity_consumption_df.describe()

,settlement_period,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,pump_storage_pumping,ifa_flow,ifa2_flow,britned_flow,moyle_flow,east_west_flow,nemo_flow,is_holiday
count,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000,267696.000000
mean,24.500000,31440.665322,32925.476675,28613.645676,1257.923798,4373.630678,841.856049,8363.953526,6.911418,309.889389,914.160342,38.015140,518.138250,-118.442621,-40.519496,164.642837,0.022951
std,13.853425,7806.992976,7581.790711,7073.438751,959.158077,1946.637814,1652.326069,5707.909320,39.855420,534.488370,1081.079730,338.876204,530.905007,228.525918,258.240454,409.912263,0.149749
min,1.000000,13367.000000,16513.000000,0.000000,0.000000,1403.000000,0.000000,0.000000,-24.000000,0.000000,-2056.000000,-1030.000000,-1215.000000,-505.000000,-585.000000,-1022.000000,0.000000
25%,12.750000,25190.000000,26873.000000,22927.000000,543.000000,2092.000000,0.000000,1987.000000,0.000000,8.000000,218.000000,0.000000,0.000000,-282.000000,-178.000000,0.000000,0.000000
50%,24.500000,30806.000000,32077.000000,28028.500000,1005.000000,4403.000000,0.000000,11433.000000,0.000000,11.000000,1181.000000,0.000000,744.000000,-137.000000,0.000000,0.000000,0.000000
75%,36.250000,37165.000000,38350.000000,33842.000000,1710.000000,6495.000000,822.000000,13080.000000,0.000000,389.000000,1895.000000,0.000000,994.000000,35.000000,0.000000,166.000000,0.000000
max,48.000000,59095.000000,60147.000000,53325.000000,5587.000000,6574.000000,10329.000000,15954.000000,893.000000,2019.000000,2066.000000,1016.000000,1143.000000,499.000000,504.000000,1033.000000,1.000000

In [67]:
electricity_consumption_df.head()

,settlement_date,settlement_period,period_hour,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,pump_storage_pumping,ifa_flow,ifa2_flow,britned_flow,moyle_flow,east_west_flow,nemo_flow,is_holiday,settlement_year_mon_day
0,2009-01-01 00:00:00,1,0:00:00,37910,38704,33939,54,1403,0,0,0,33,2002,0,0,-161,0,0,1,2009-01-01
1,2009-01-01 00:30:00,2,0:30:00,38047,38964,34072,53,1403,0,0,0,157,2002,0,0,-160,0,0,1,2009-01-01
2,2009-01-01 01:00:00,3,1:00:00,37380,38651,33615,53,1403,0,0,0,511,2002,0,0,-160,0,0,1,2009-01-01
3,2009-01-01 01:30:00,4,1:30:00,36426,37775,32526,50,1403,0,0,0,589,1772,0,0,-160,0,0,1,2009-01-01
4,2009-01-01 02:00:00,5,2:00:00,35687,37298,31877,50,1403,0,0,0,851,1753,0,0,-160,0,0,1,2009-01-01

In [66]:
first_day = electricity_consumption[:24].long()
first_day.shape, first_day[:,9] # ifa_flow

(torch.Size([24, 16]),
 tensor([2002, 2002, 2002, 1772, 1753, 1754, 1754, 1755, 1755, 1754, 1754,
         1754, 1754, 1753, 1690, 1689, 1689, 1690, 1689, 1689, 1689, 1690,
         1691, 1691]))

In [13]:
for i in range(15)
    feature = daily_electricity_consumption[:, i, :]
    feature_min = torch.min(feature)
    feature_max = torch.max(feature)
    daily_electricity_consumption[:, i, :] = ((daily_electricity_consumption[:, i, :] - feature_min)
                             / (feature_max - feature_min))